 <%= turbo_frame_tag "messages" do %>
   <% display_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    <% @empty_log.times do %>
        <li>Only <%= pluralize display_messages.count, "activity log"  %> in database</li>
    <% end %>
<% end %>