<%= turbo_frame_tag "subreddit" do %>
    <h3 class="text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400" style="text-align: center">Subreddit Currently Monitoring: <span class="text-blue-600"><%= subreddit_name %></span> </h3>
<% end %>