@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #5b84b1ff;
}

.loader {
  position: absolute;
  margin-top: 30vh;
  left: 50%;
  margin-left: -77px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
  z-index: 100;
} */

/* Safari */
/* @-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
} */

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* h1,
h2,
h3 {
  font-family: "IBM Plex Sans", sans-serif;
  color: rgb(253, 102, 88);
  -webkit-text-stroke: 0.5px rgb(36, 36, 36);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
} */

li {
  height: 8vh;
}

.previewButton:visited {
  color: blue;
}

.previewButton,
.deleteButton {
  text-decoration: none;
  color: blue
}

.post-item {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.post-child-1 {
  text-decoration: none;
  grid-area: 1 / 1 / 2 / 2;
  color: blue
}

.post-child-1:visited {
  color: blue;
}

.show-item {
  text-decoration: none;
  /* width: 95%; */
  display: inline-block;
  word-wrap: break-word;
}

.show-item:visited {
  color: blue
}

.post-child-2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: space-evenly;
  color: black;
  text-decoration: none;
  font-size: 0.7em;
  margin-right: 5px;
}

.previewButton:hover,
.deleteButton:hover {
  transform: scale(1.5);
  cursor: pointer;
  color: red;
}

.parent {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  width: 100%; /* whatever width you like */
}

.messages {
  grid-area: 1 / 1 / 2 / 2;
}
.posts {
  grid-area: 1 / 2 / 2 / 3;
  text-decoration: none;
}

ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 15px "trebuchet MS", "lucida sans";
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  margin-left: 60px
}

ol ol {
  margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list {
  width: 30vw;
}

.rectangle-list {
  width: 40vw;
}

.rounded-list li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.4em 0.4em 0.4em 2em;
  *padding: 0.4em;
  margin: 0.5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  content: counter(li);
}

.rounded-list li:before {
  content: counter(li);
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

.rectangle-list li {
  position: relative;
  align-items: center;
  padding: 0.4em 0.4em 0.4em 0.8em;
  *padding: 0.4em;
  padding-right: 15px;
  margin: 0.5em 0 0.5em 0em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: all 0.3s ease-out;
}

.rectangle-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #fa8072;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.show-list {
  width: 60%;
  white-space: normal;
}

.show-list li {
  position: relative;
  align-items: center;
  padding: 0.4em 0.4em 0.4em 0.8em;
  *padding: 0.4em;
  padding-right: 15px;
  margin: 0.5em 0 0.5em 0em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  text-align: center;
  width: 90%;
  display: flex;
  justify-content: center;
}

li > a {
  text-decoration: none;
}

li > a:visited {
  color: blue;
}

.show-list li:before {
  content: "" attr(data-info) "";
  counter-increment: li;
  position: absolute;
  left: -6.5em;
  top: 50%;
  margin-top: -1em;
  padding-left: 5px;
  padding-right: 5px;
  background: #fa8072;
  color: black;
  height: 2em;
  width: 75px;
  line-height: 2em;
  text-align: center;
  /* font-weight: bold; */
}

.btn {
  text-decoration: none;
  border: none;
  padding: 12px 40px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.btn:active {
  transform: scale(0.88);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.checkButton {
  color: black;
}

.checkButton:visited {
  color: black;
}

.posts:visited {
  color: blue;
}

.post-button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.post-button:hover {
  background-color: #3e8e41;
}

.post-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (max-width: 800px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .messages {
    grid-area: 1 / 1 / 2 / 2;
  }

  .posts {
    grid-area: 2 / 1 / 3 / 2;
  }

  .rounded-list {
    width: 50vw;
  }

  .rectangle-list {
    width: 50vw;
  }

  li {
    width: 60vw;
    height: 10vh;
  }

  .rectangle-list li {
    padding: 0.4em 2em 0.4em 0.8em;
  }

  .post-child-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;
  }

  /* .post-child-2 {
    justify-content: flex-end;
  } */
}
