@tailwind base;
@tailwind components;
@tailwind utilities;

.animate__animated.animate__slideInLeft {
    animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

td,
th {
    height: 35px !important;
    max-height: 35px !important;
    overflow: hidden;
}

td {
    text-overflow: hidden;
    white-space: nowrap;
}

.link:visited {
    color: #551a8b !important;
}

.link {
    color: #0000ee;
}

.preview {
    height: 30px !important;
    transition: all 0.1s ease-in-out;
}

.delete {
    height: 25px !important;
    width: 25px !important;
    transition: all 0.1s ease;
}

.preview:hover, .delete:hover {
    scale: 1.2;
}

.parent {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    width: 100%;
}
