@tailwind base;
@tailwind components;
@tailwind utilities;

.animate__animated.animate__slideInLeft {
    animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

td,
th {
    height: 35px !important;
}

.parent {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    width: 100%;
}
