<div class="tooltip" style="text-align: center">
    <h1 class="page-title">Reddit Post Keyword Monitor </h1>
</div>
<%= render partial: "posts/subreddit", locals: { subreddit_name: @subreddit_name } %>
<h3 style="text-align: center">Selected Keywords: <%= Setting.first.keywords.gsub(",", ", ") %> </h3>
<% if Setting.first.refresh == false %>
<div style="display: flex; justify-content: center">
  <%= link_to "Check posts", "/check_posts", style: "text-decoration: none", class: "post-button"  %>
</div>
<% end %>
<div style="display: flex; justify-content: center; margin-bottom: 15px">
  <%= link_to @auto_title, "/auto_check", style: "text-decoration: none; margin-top: 10px", class: "post-button", remote: true  %>
</div>
